<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Read Note</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body class="bg-zinc-900 text-white min-h-screen">

    <div class="p-10 max-w-3xl mx-auto">

        <h1 class="text-3xl font-bold mb-4">
            <%= title %>
        </h1>

        <p class="bg-zinc-800 p-5 rounded whitespace-pre-line">
            <%= content %>
        </p>

        <a href="/" class="inline-block mt-6 text-blue-400">
            ← Back to Home
        </a>

    </div>

</body>

</html>